<link rel="stylesheet" href="/css/mainpage.css">
<link rel="stylesheet" href="/css/add-form.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/company-profile.css">

{{#if company}}

<div class="content-header">
    <h1>{{ company.name }}</h1>
    <span>Профиль компании</span>
</div>


<div class="company-profile-container">
    <aside>
        <img src="{{ company.logoURL }}" alt="">
        <span>{{ company.address }}</span>
        <span><a href="#">{{ company.email }}</a></span>
        <span>Вакансии</span>
        <span><a href="#">{{vacancies.length}} активных вакансий</a></span>
        <span>Сферы деятельности</span>
        <p>
            Информационные 
            технологии, системная 
            интеграция, интернет                
        </p>
        {{#if isCreator }}
        <a href="/company/update" class="card-resume-button company-profile-button">Редактировать</a>
        <a href="/vacancy/add" class="card-resume-button company-profile-button">Создать вакансию</a>
        {{else}}
        {{#if status.length }}
        <a href="/user/unsubscribe/{{ company._id }}" class="card-resume-button company-profile-button">Отписаться</a>
        {{else}}
        <a href="/user/subscribe/{{ company._id }}" class="card-resume-button company-profile-button">Подписаться</a>
        {{/if}}
        {{/if}}
    </aside>
    <div class="company-block">
        <div class="company-title">
            <h2>{{ company.name }}</h2>
            <img src="./media/galochka.svg" alt="">
        </div>
        <p>
            {{{company.content}}} 
        </p>
    </div>
</div>
{{else}}
<h2>Компания не найдена</h2>
{{/if}}