<link rel="stylesheet" href="/css/add-form.css">
<link rel="stylesheet" href="/css/profile.css">


<div class="content-header">
    <h1>Активные резюме</h1>
    <span>Найдите подходящего вам сотрудника</span>
</div>

<div class="resumes" style="max-width: 1300px;">
    <div class="cards-container">

        {{#if resumes}}
        {{#each resumes}}
            {{#if this.isPublished}}
            <div class="card-resume">
                <h3 class="card-resume-title">{{this.careerObjective}}</h3>
                <div class="avatar-info">
                    <img src="{{this.avatarURL}}" alt="img: avatar">
                    <span>
                        {{this.firstname}}
                        
                    </span>
                </div>
                <span class="card-resume-phone">{{this.phone}}</span>
                <span class="card-resume-mail">{{this.email}}</span>
                <a href="/resume/{{this._id}}/"><button class="card-resume-button">Посмотреть</button></a>
            </div>
            {{/if}}
        {{/each}}
        {{/if}}
    </div>
</div>

<div class="button-container">
    <button class="more">
        Загрузить еще
    </button>
</div>

<div class="content-header cta">
    <h1>Просмотрите отклики на ваши вакансии</h1>
    <button>
        <a href="#">Смотреть отклики</a>
    </button>
</div>
