<link rel="stylesheet" href="/css/mainpage.css">
<link rel="stylesheet" href="/css/add-form.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/company-profile.css">

{{#if company}}

    <div class="content-header">
        <h1>{{ vacancy.title }}</h1>
        <span>{{ company.name }}</span>
    </div>


    <div class="company-profile-container">
        <aside>
            <img src="{{ company.logoURL }}" alt="">
            <span>{{ vacancy.location }}</span>
            <span><a href="#">{{ company.email }}</a></span>
            <span>Занятость</span>
            <span><a>{{vacancy.busyness}}</a></span>
            <span>Зарплатные ожидания</span>
            <span><a>{{vacancy.salary}} бел. руб. </a></span>
            {{#if isCreator }}
                <a href="/vacancy/{{vacancy._id}}/update" class="card-resume-button company-profile-button">Редактировать</a>
                <form action="/vacancy/{{vacancy._id}}/remove" method="post">
                    <button class="card-resume-button company-profile-button">Удалить вакансию</button>
                </form>
            {{else}}
                {{#if status.length }}
                    <a class="card-resume-button company-profile-button">С вами свяжутся!</a>
                {{else}}
                    <a href="/user/{{ vacancy._id }}/respond" class="card-resume-button company-profile-button">Откликнуться</a>
                {{/if}}
            {{/if}}
        </aside>
        <div class="company-block">
            <div class="company-title">
                <h2>{{ vacancy.title }}</h2>
                <img src="./media/galochka.svg" alt="">
            </div>
            <p>
                {{{vacancy.content}}}
            </p>
        </div>
    </div>
{{else}}
    <h2>Компания не найдена</h2>
{{/if}}